.edit_form .form-checkout-promotion {
  border: 1px solid #e5e5e5;
  min-height: 175px;
  max-height:300px;
  overflow-y: scroll;
  position: relative;
}
.title-promotion {
  /* position: sticky;
  top: 0; */
  text-align: center;
  /* z-index: 1;
  padding: 0;
  margin: 0; */
}
.title-name-promotion-checkout {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.br-none{
  border-radius:unset !important;
}
