.icon-edit-checkout {
  position: relative;
}

.icon-edit-checkout svg {
  position: absolute;
  top: var(--12px);
  bottom: var(--12px);
  right: var(--12px);
  cursor: pointer;
}
.info_invoice {
  width: 100%;
}
.info-invoice-left {
  width: 150px;
}
.iconIamge {
  width: 70px;
  height: 70%;
}
.font_checkout {
  width: 100% !important;
}
.text-summary {
  font-size: 16px;
  line-height: 160%;
}
.order-summary {
  border: 1px solid rgb(225, 223, 223);

}
